.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60dvh;
}


.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60dvh;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60dvh;
    gap: 20px;
}

.home img {
    transition: transform 0.5s ease-in-out;

}

.home img:hover {
    transform: rotate(15deg);
}