:root {
  --dark-pink: #ee6141;
  --light-pink: #ffa475;
  --cream: #f1ebdf;
  --gray: #c0bdb9;
  --white: #f8f8f8;
  --black: #313131;
  --headings: "Lora", serif;
  --body: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  color: var(--black);
}
